<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGE - Sistema de Gerenciamento de Eventos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'enquete/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="btn btn-secondary ml-auto" href="/admin">Admin</a>
            </div>
        </nav>
    </header>

    <div class="logo-container">
        <img src="{% static 'enquete/logo.png' %}" alt="Logo da Empresa">
        <h2 class="project-name">Sistema de Gestão de Eventos</h2>
    </div>

    <div class="container">
        <h3 class="text-center">Escolha uma enquete:</h3>
        <ul class="list-unstyled">
            {% for question in questions %}
                <li> {{ question.question_text }} </li>
            {% endfor %}
        </ul>
    </div>

    <footer>
        <p>@Fastech - Engenharia de Computação</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
